.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    /* center; space-between space-around flex-start*/
    align-items: center;
    height: 100%;
}

body, html {
    background-image: linear-gradient(125deg, #010d25,#0f345a,#124375,#124375,#0f345a,#010d25);
    background-size: 200%;
    height: 100%;
}

.logo {
    margin-top: 25px;
}

.portrait {
    border-radius: 100%;
    width: 75%;
}

h3 {
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: white;
    margin-top: 30px;
}

.name-button-area {
    margin-top: 25px;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* max-width: 350px; */
}

button {
    /* background: #60C3FF; */
    width: 125px;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    border-color: #2699FB;
    background-color: #175897;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* .phone {
    /* background-color: #60C3FF; 
    margin: 10px;
    padding-top: 15px;
}

.text {
    /* background-color: #60C3FF; 
    margin: 10px;
    padding-top: 15px;
} */
